@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B79A72;
    color:white;
}
.header{
    background-color: rgb(75, 49, 10);
    padding: 30px;
    text-align: center;
}
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10vh;
    
}
.imagem > img{
    box-shadow: 10px 10px 10px black;
    border:  5px solid black;
}
