@charset "utf-8";

body{
    background-color: rgb(165, 125, 88);
    margin: 0;
}
main{
    background-color: rgb(146, 124, 78);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 70%;
    float: left;

}
header{
    background-color:rgb(73, 52, 8) ;
    color: rgb(255, 249, 249);
    text-align: center;
    padding: 1px ;
    border-radius: 20px ;
    margin: 0px;
    box-shadow: 10px 10px 10px black;
    margin-bottom: 10px;
    background-image:linear-gradient(rgb(131, 89, 27), black)

}
article{
    background-color: white;
    color: rgb(117, 72, 4);
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow: 10px 10px 10px black;

    
    
    
}
img{
    display: block;
   margin-left: 10px;
    border-radius: 10px ;
    box-shadow: 10px 10px 10px black;
 
}
h2{
    background-color:rgb(73, 52, 8) ;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 10px 10px 10px black;
}
p{
    padding-left: 10px;
}
aside{
    background-color: rgb(146, 124, 78);
    border-radius: 10px;
    float: right;
    width: 28%;
    height: 400px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    


}

fieldset{
    width:300px;
    height:250px;
    background-color:white;
    margin-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
   
input{
    margin-bottom: 10px;
    margin-top: 30px;
    background-color: rgb(175, 147, 54);
    color: white;
    box-shadow: 10px 10px 10px black;
}
#botao{
    height: 40px;
    width: 30%;
    background-color:rgb(73, 52, 8);
    color: rgb(243, 243, 243);
    border-radius: 10px;
}
#botao:hover{
    background-color: rgb(148, 109, 24);
}
input:hover{
    background-color: rgb(124, 95, 0);
}
label{
    background-color: rgb(105, 76, 14);
    border-radius: 10px;
    padding: 5px;
    color: white;
    box-shadow: 10px 10px 10px black;
}
#logint{
    background-color: rgb(73, 52, 8);
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px black;

    
}
footer{
    background-color: rgb(66, 47, 4);
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    color: rgb(247, 247, 247);
    box-shadow:10px 10px 10px  black;
    margin-top: 10px;
   
}
footer img{
    height: 40px;
    margin-top: 3px;
    border-radius: 10px;
    display: inline-block;
    
}
article img{
    width: 97%;
}

